extends layout

block js
  script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
  script.
    var local_data =!{JSON.stringify(data)}
  script(src='javascripts/upit.js')
block content

  
  form
  
    p Kategorija
       select(id="category")
    
    p Podkategorija
       select(id="subcategory")
    
    input(type="submit")
  